
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}


*{
    margin: 0;
    padding: 0;
}

/* Shered Style */

html{
    font-size: 16px;
}

.section-heading{
    font-size: 3rem;
    color: white;
    font-weight: bold;
}

.section-description{
    color: white;
    line-height: 1.5rem;
}

.display-flex{
    display: flex;
}

.background-color{
    background-color: #1A0B2E;
}

.btn{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.6rem 0.75rem;
    border: none;
    border-radius: 1rem;
    color: white;
    background: var(--Linear,
        linear-gradient(47.64deg,
        rgba(247, 233, 63, 1),
        rgba(251, 9, 180, 1),
        rgba(145, 0, 248, 1)
       )
    );

}

.max-width{
    max-width: 75%;
    margin: 0 auto;
}

/* Header Section */

/* NavBar */

.nav-color{
    background-color: #1A0B2E;
}

.nav-bar{
    justify-content: space-between;
    max-width: 75%;
    margin: 0 auto;
    padding: 30px;
    background-color: #1A0B2E;
}

.nav-logo{
    color: white;
    font-size: 2rem;
    font-weight: 700;
    line-height: 1;
}

.nav-logo span{
    
    background:
     var(--Linear,
        linear-gradient(47.64deg,
        rgba(247, 233, 63, 1),
        rgba(251, 9, 180, 1),
        rgba(145, 0, 248, 1))
    );

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.menu{
    display: flex;
    gap: 2rem;
}

.menu li{
    list-style: none;
    
}

.menu li a{
    text-decoration: none;
    color: white;
}

/* Bannar Section */
.bannar{
    background-image: url(./assets/hero-bg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 100%;
    max-height: 100%;
    justify-items: center;
    align-items: center;
}

.bannar-img{
    padding-top: 6.3rem;
    align-items: center;
    justify-items: center;
}

.mic{
    position: relative;
    bottom: 15.9375rem;
}



.bannar-header{
    font-size: 3.75rem;
    color: white;
    font-weight: 800;
    padding-top: 2.5rem;
}

.bannar-description{
    color: white;
    padding-top: 0.5rem;
}

.bannar-btn{
    gap: 0.5rem;
    padding-top: 1.5rem;
}

.second-bnt{
    background-color: #1A0B2E;
    border: 1px solid #00FF88;
    color: #00FF88;
    border-radius: 1rem;
    padding: 0.6rem 0.75rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;

}


/* About Section */
.about-section{
    text-align: center;
    padding-top: 9.4375rem;
}

.first-description{
    padding-top: 1rem;
}
.second-description{
    padding-top: 2rem;
}

hr{
    margin: 80px auto;
    background-color: black;
}

.rating-section{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.rating-heading{
    font-size: 3rem;
    color: #00FF88;
}
